.menu {
    list-style-type: none;
    background-image: linear-gradient(to right, blue, pink);
    padding: 16px;
}

.menu li {
    display: inline-block;
}

.menu li a {
    color: white;
    text-decoration: none;
    padding: 16px;
}

.menu li a:hover {
    background-color: darkblue;
}

.menu .account {
    position: absolute;
    right: 20px;
}